style.css
h1 {      
color: #1D7874;
font-size: 30px;
font-family: 'oswald';
font-weight: bold;
margin: 0;
}
 
b{
              color: #679289;
}
 
h2 {
color: #1D7874 ;
font-family: 'oswald';
font-weight: bolder;
}
body {
              align-content: vertical;
              background-color:#ADC2A9;
              font-family: 'oswald';
              font-weight: lighter;
              text-align: center;
              background-image: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)), url("image/palm.jpeg");
 
}
 
.img-circle{
              border-radius: 50%;
}
 
.container{
              margin: auto;
              background-color: rgb(255, 255, 255);
              padding: 50px;
              max-width: 600px;
              border-radius: 3px;
              box-shadow: 3px 3px 10px rgba(44, 102, 110, 0.5);
              margin-bottom: 30px;
              margin-top: 10px;
}
 
.bouton-profil{
              padding: 0.3em 1em!important;
    border: 1px solid;
    border-radius: 15px;
    color: #845d35;
    text-transform: uppercase;
    text-decoration: none;
}
 
 
.card {
  align-items: center;
  justify-content: space-between;
              padding: 20px;
              background-color: rgb(255, 255, 255);
box-shadow: 3px 3px 10px rgba(44, 102, 110, 0.5);
}
.card img {
  width: 250px;
}
 
.cards {
  display: flex;
              flex-wrap: wrap;
}
.card{
  flex-basis: 250px;
              flex-grow: 1;
              margin: 10px;
}